@use "../../styles/colors";

.NavBar {
  width: 100%;
  height: 5rem;
  background-color: colors.$primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  .leftsideNavbar {
    width: 20rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
  .middleNavbar {
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navBarLink {
    font-size: 2rem;
    text-decoration: none;
    color: colors.$primary-text-color;
    &:hover {
      color: colors.$secondary-text-color;
    }
  }
  .rightsideNavbar {
    width: 20rem;
    margin-right: 1rem;
    color: colors.$primary-text-color;
  }
}
